body{
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;

  
  /* nav-section s */
}
.nav-section{
  display: flex;
  align-items: center;
}
nav{
  display: flex;
  justify-content: space-around;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-items ul{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}
.items-class{
  list-style: none;
  color: #3C354F;
  text-align: center;
  font-size: 18px;
}
#yy{
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 200px;
padding: 10px;
}
nav a{
  text-decoration: none;
  color:#3C354F;
}
/* nav-section e */
.h4-text{
  color: #0B0223;
font-size: 48px;
font-weight: 600;
margin-bottom: 0px;
}
.goat-text{
  margin-top: 17px;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 0px;
}
.h5-text{
  color: #534C64;
font-size: 16px;
font-weight: 500;
margin-top: 17px;
}
.banner-btn-1{
  padding: 20px 35px;
  color: #ffff;
  gap: 10px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.banner-btn-2{
  padding: 20px 35px;
color: #ffff;
gap: 10px;
border: none;
border-radius: 48px;
background: #4EC5F7;

}
.banner-container{
  display: flex;
  justify-content: space-between;
}
.banner-text{
  background-image: url(./images/Group\ 14.png);
  background-color: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  padding-left: 140px;
  width: 50%;
}
.banner-img{
  padding-right: 140px;
  width: 50%;
}
.bn-img{
  width: 550px;
padding-left: 100px;
}
.gamer-section{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.gamer-heading{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 0px;
font-size: 50px;
text-align: right;
}
.gamer-paragraph{
  color: #534C64;
font-size: 18px;
font-weight: 400;
text-align: right;
}
.poverb{
  color: #534C64;
  text-align: right;
font-size: 24px;
font-style: normal;
font-weight: 500;
}
.btn-1{
  text-align: right;
}
.gamer-text{
  text-align: right;
  padding-right: 70px;

}
.fun-game-section{

  
}
.card-1{
width: 300px;
height: 350px;
background-image: url(./images/Rectangle\ 4.png);
background-repeat: no-repeat;
}
.card-2{
  width: 300px;
  height: 350px;
  background-image: url(./images/Rectangle\ 5.png);
  background-repeat: no-repeat;
}
.card-3{
  width: 300px;
height: 350px;
background-image: url(./images/Rectangle\ 7.png);
background-repeat: no-repeat;
position: relative;
border-radius: 16px;

}
card-3:hover{
  background-color: #F948B2;
}
.card-4{
  width: 300px;
height: 350px;
background-image: url(./images/Rectangle\ 6.png);
background-repeat: no-repeat;
background-size: cover;
}
.cards{
  display: flex;
  justify-content:center;
  gap: 20px;
  width: 100vw;
  height: 80vh;

}
.fun-game-section{
  width: 100vw;
  height: 800vh;
  padding: 0px;
}
.fun-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-weight: 700;
}
.fun-header{
  text-align: center;
  font-size: 50px;
  width: 100vw;
  margin-bottom: 0px;
}
.fun-description{
  text-align: center;
  width: 100vw;
  color: #534C64;
font-size: 18px;
font-weight: 400;

}
.fun-h5-tag{
  padding-top: 350px;
  color: #534C64;
font-size: 15px;
font-style: normal;
font-weight: 500;
}
.download{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-text{

  padding-left: 140px;
  /* width: 50%; */
}
.download-img{
  /* width: 50%; */
}
.download-section{
  width: 100vw;
}
.download-heading{
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.download-short-text{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.download-description{
  color: #534C64;
font-size: 18px;
font-weight: 400;
}
.img-1{
  width: 600px;
  padding-left: 60px;
}
.img-2{
  width: 200px;
  margin-top: -140px;
}
.download-img{
width: 50%;
}
.icon{
  display: flex;
}
.icon-image{
  width: 30px;
}
.icon-text{
  padding-left: 40px;
}
.icon-section{
  padding-top:100px;
}
.icon-text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background: #FFF;
  width: 100%;
  

}
#arcade{
  width: 200px;
height: 55px;
border: 1px solid;
border-radius: 48px;
padding: 15px;
color: #FF42A5;
}
.icon:hover{
  width: 250px;
  height: 55px;
  border: 1px solid;
  border-radius: 48px;
  padding: 15px;
  color: #FF42A5;
  
}
.footer{
  background-color: #0B0223;
  height: 70vh;
  
}
footer{
  padding-top: 90px;
}
.footer-text{
  color: white;
  font-size: 25px;
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.gamer-heading-1{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.single-word-color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
 .list{
  color: #000000;

}
footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  padding-top: 40px;
}
footer ul a{
  text-decoration: none;
  color: #ffffff;
}
.img-icon{
  display: flex;
  justify-content: center;
  gap: 90px;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 0px;
}
.terms{
  font-size: 16px;
  padding-top: 0px;
  color: #FFFFFF;
}
.copyright{
  text-align: center;
  padding-top: 10px;
  color: #FFFFFF;
}
.career{
  background-color: #FF42A5;
  height: 100vh;
  margin-top: 100px;
}
.career-text{
  color: #ffff;
  display: flex;
}
.engineer{
  display: flex;
  justify-content: space-between;
}
.career-text{
  width: 50%;
}
.career-section{
  display: flex;
}
.career-img{
  width: 50%;
}
.c-img{
width: 800px;
}
.heading-text{
  color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.description{
  color: #FFF;
font-size: 18px;
font-weight: 400;
}
.en-list{
  color: #FFF;
font-size: 20px;
font-weight: 600;
}
.en-list-1{
  color: #FFF;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 600;
}
.c-btn{
  display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #ffffff;
color: #F948B2;
border: none;

}
.career-section{
  padding-left: 50px;
}
.career-heading{
  padding-top: 50px;
}
header{
  overflow-x: hidden;
}
main{
  overflow-x: hidden;
}
footer{
  overflow-x: hidden;
}




@media screen and (max-width:576px) {
  nav, ul{
    flex-direction:column;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    overflow-x: hidden;
    padding-bottom: 10px;
    
    
  }

  header{
   overflow-x: hidden;
   padding: 0px;
   margin-right: 0px;
   padding-right: 0px;
  }
  .nav-section{
    justify-content: center;
    padding-top: 10px;
    
  }
  .banner-container{
    flex-direction: column;
    padding: 0px;
    width: 100%;
    
  }
  .banner-text{
    padding-left: 0px;
    text-align: center;
    margin-right: 0px;
    padding-right: px;
    width: 100%;
  
  }
  .banner-img{
    padding: 0px;
    width: 100%;
  
  
  }
  .bn-img{
    width: 100%;
    padding-left: 0px;
    
  }
  .gm-img{
    width: 100%;
  }
  .gamer-section{
    flex-direction: column;
    overflow-x: hidden;

  }
  main{
    overflow-x: hidden;
    margin-right: 0px;
    padding-right: 0px;
    overflow-y: hidden;
  }
  .gamer-text{
    padding: 0px;
    text-align: center;
  }
  #gamer-h{
    text-align: center;
  }
  #gamer-p{
    text-align: center;
  }
  #gamer-pr{
    text-align: center;
  }
  .gamer-paragraph{
    padding: 0px;
  

  }
  .cards{
   display: grid;
   grid-template-columns: repeat(1, 300px);
   justify-content: center;
   width: 100%;
   height: 100%;
    gap: 70px;
  }
  .download{
    flex-direction: column;
  }
  .download-img{
    width: 100%;
  }
  
  .img-1{
    width:300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    
    
  }
  .img-2{
    padding-left: 30px;
    width: 150px;
    padding-top: 70px;

  }
  .download-description{
    padding-top: 20px;
  }
  .download-heading{
    padding-top: 80px;
    text-align: center;
    
  }
  .download-text{
    padding-left:0px;
    text-align: center;
    
  }
  
  .icon-text-container{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: o auto;
    width: 100%;
  }
  #icon-2{
    text-align: center;
  }

  .icon-image{
    width: 20px;
  }
  footer{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  footer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px ;
    padding-right: 40px;
    padding-top: 50px;
  }
  .img-icon{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-top: 50px;
    padding-left: 40px;
    gap: 30px;
    font-size: 40px;
  }
  .terms-1 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    
    
  }
  .career-section{
    flex-direction: column;
    padding: 0px;
    height: 200vh;
  }
  .career-text{
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }
  .engineer{
    flex-direction: column;
    width: 100%;
  }
  .en-list-1{
    justify-content: center;
    text-align: center;
  }
  .c-img{
    width: 300px;
  }
  .career-img{
    width: 100%;
    text-align: center;
  }

}


@media screen and (min-width:576px) and (max-width:992px) {
  nav{
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    
  }
  .nav-section{
    justify-content: center;
  }
  body{
    min-height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
  }
  .banner-text{
    padding-left: 40px;
  }
  .banner-img{
    padding: 0px;
    width: 100%;
  }
  .bn-img{
    padding-left: 0px;
    width: 450px;
  }
  .gm-img{
    width: 400px;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
  
  .gamer-text{
    width: 50%;
  
  }
  .career-section{
    flex-direction: column;
    padding: 0px;
    text-align: center;
    height: 150vh;
  }
  .career-text {
  padding-right: 0px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0px;


  }
  .career-heading{
    padding-top: 0px;
  }
  .c-img, .career-img{
    width: 500px;
    margin: 0 auto;
    padding-top: 0px;
  }
  .download{
    padding-top: 50px;
    
  }
  .download-text{
    padding-left: 20px;
  }
  .download-img{
    width: 300px;
  padding-right:100px;
  }
  .img-1{
    padding-right: 60px;
    width: 400px;
  }
  footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  .img-icon{
    display: flex;
    flex-wrap: wrap;
  }
  main{
    overflow-y: hidden;
  }
}